<div class="info-div">
  <p class="is-size-5 mb-2 title-text">
    {{title}}
  </p>
  <small class="is-size-7 mt-2 error-text" *ngIf="isError">Wrong input!</small>
</div>



<textarea *ngIf="isReadonly" class="textarea" [readOnly]="isReadonly"
  [placeholder]=" !isReadonly ? placeholderText : ''">{{decodedToken | json}}</textarea>


<textarea *ngIf=" !isReadonly" class="textarea" [readOnly]="isReadonly" #tokenText [ngClass]="{'area-error': isError}"
  [placeholder]=" !isReadonly ? placeholderText : ''" (input)=" updateToken(tokenText.value)"></textarea>